# Lab 3
## 3.3.2024

## Arch Model

a statistical model for time series data that describes the variance of the current error term or innovation as a function of the actual sizes of the previous time periods' error terms

### Preparation

In [1]:
import pandas as pd
from statsmodels.tsa.stattools import adfuller
from arch import arch_model

In [2]:
XOM = pd.read_csv("XOM.csv")

## Test for stationarity

In [3]:
XOM.head()

         Date  Open      High       Low     Close  Adj Close   Volume
0  1962-01-02   0.0  1.589844  1.578125  1.578125   0.095784   902400
1  1962-01-03   0.0  1.601563  1.578125  1.601563   0.097206  1200000
2  1962-01-04   0.0  1.613281  1.597656  1.605469   0.097444  1088000
3  1962-01-05   0.0  1.613281  1.566406  1.570313   0.095310  1222400
4  1962-01-08   0.0  1.582031  1.546875  1.566406   0.095073  1388800

In [5]:
XOM = pd.read_csv("XOM.csv", index_col = 0)
XOM.head()

            Open      High       Low     Close  Adj Close   Volume
Date
1962-01-02   0.0  1.589844  1.578125  1.578125   0.095784   902400
1962-01-03   0.0  1.601563  1.578125  1.601563   0.097206  1200000
1962-01-04   0.0  1.613281  1.597656  1.605469   0.097444  1088000
1962-01-05   0.0  1.613281  1.566406  1.570313   0.095310  1222400
1962-01-08   0.0  1.582031  1.546875  1.566406   0.095073  1388800

In [7]:
print(adfuller(XOM["Adj Close"])[1])

0.997174982990766

## Detrending and test again

In [12]:
returns = 100*XOM["Adj Close"].pct_change().dropna()
returns.head()
print(adfuller(returns)[1])

0.0

## Arch Model

## GARCH Model